/* CUSTOM THREED CSS */

/*  
** RADIX-UI CSS
*/
@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/grass.css';
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/gray-dark.css';

/* resets ?? */
/* 
button,
h3 
{
  all: unset;
}
*/

.AccordionRoot {
  /* display: flex;  */
  /* flexDirection: row; */
  /* height: 60vh; */
  /* width: auto; */
  /* background-color: var(--grass-6); */
  /* box-shadow: 0 2px 10px var(--black-a4); */
  /* border-radius: 6px; */
  /* border: 2px solid red; */
  /* border: 4px solid blue; */
  /* padding: 16px; */
  /* margin: 0 !important; */
}

.AccordionItem {
  /* overflow: hidden; */
  margin-top: 1px;
  /* border: 1px solid orange; */
}

.AccordionItem:first-child {
  margin-top: 0;
  /* border-top-left-radius: 4px;
  border-top-right-radius: 4px; */
  /* border: 1px solid orange; */
}

.AccordionItem:last-child {
  /* border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; */
  /* border: 1px solid yellow; */
}

.AccordionItem:focus-within {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 0 2px var(--gray-dark-12);
  /* border: 1px solid lightblue; */
}

.AccordionHeader {
  display: flex;
  /* border: 1px solid dodgerblue; */
}

.AccordionTrigger {
  /* font-family: inherit; */
  /* background-color: transparent; */
  /* padding: 0 20px; */
  /* height: 45px; */
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* font-size: 15px; */
  /* line-height: 1; */
  color: var(--violet-11);
  /* box-shadow: 0 1px 0 var(--gray-dark-6); */
  /* background-color: white; */
}

.AccordionTrigger:hover {
  background-color: var(--gray-dark-2);
}

.AccordionContent {
  overflow: hidden;
  font-size: 15px;
  color: var(--gray-dark-11);
  background-color: var(--gray-dark-2);
}
.AccordionContent[data-state='open'] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionContent[data-state='closed'] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContentText {
  padding: 15px 20px;
}

.AccordionChevron {
  color: var(--violet-10);
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionTrigger[data-state='open'] > .AccordionChevron {
  transform: rotate(180deg);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}


/* RADIX-UI.primitive.COLLAPSIBLE */
/* @import '@radix-ui/colors/black-alpha.css'; */
/* @import '@radix-ui/colors/violet.css'; */

/* reset */
/* button {
  all: unset;
} */

.CollapsibleRoot {
  /* width: 100%; */
  width: 480px;
}


.CollapsibleContent {
  overflow: hidden;
}
.CollapsibleContent[data-state='open'] {
  animation: slideDown 300ms ease-out;
}
.CollapsibleContent[data-state='closed'] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}


.IconButton {
  /* padding: 5px; */
  /* font-family: inherit; */
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--grass-11);
  box-shadow: 0 2px 10px var(--black-a7);
}
.IconButton[data-state='closed'] {
  /* background-color: white; */
}
.IconButton[data-state='open'] {
  /* background-color: var(--violet-3); */
}
.IconButton:hover {
  /* background-color: var(--violet-3); */
}
.IconButton:focus {
  box-shadow: 0 0 0 0px black;
}


.Heading {
  /* color: var(--violet-11); */
  color: white;
  /* font-size: 15px; */
  /* line-height: 25px; */
}
.Text {
  /* color: var(--violet-11); */
  color: white;
  font-size: 15px;
  line-height: 25px;
}

.Repository {
  background-color: black;
  border-radius: 4px;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0 2px 10px var(--black-a7);
}


/* @import '@radix-ui/colors/black-alpha.css'; */

.ProgressRoot {
  position: relative;
  overflow: hidden;
  background: var(--gray-dark-a9);
  border-radius: 99999px;
  width: 300px;
  height: 25px;

  /* Fix overflow clipping in Safari */
  /* https://gist.github.com/domske/b66047671c780a238b51c51ffde8d3a0 */
  transform: translateZ(0);
}

.ProgressIndicator {
  background-color: var(--grass-9);
  width: 100%;
  height: 100%;
  transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
}

/* ============================================================================= */
/* TESTING ONLY: 
** REALLY REALLY FINAL CUSTOM CSS 
*/

#ThreeDApp {
  /* padding: 4px 0; */
  /* margin: 0; */
  /* font-family: sans-serif; */
  /* height: 100vh; */
  /* width: 100vw; */
  /* border: 2px solid darkred; */
}

html,
body,
#root {
  /* width: 100%;
  height: 100%; */
  /* margin: 0; */
  /* padding: 0; */
  /* overflow: hidden; */
  /* background-color: #111111; */
}

body {
  /* position: fixed; */
  /* overflow: hidden; */
  /* color: #3D3D3D; */
}

/*
.footer {
  margin-top: 2rem;
}
*/

/* JOYSTICK */ 
* {
  /* box-sizing: border-box; */
}
.controlKeys {
  /* position: absolute; */
  /* width: 18rem; */
  /* left: 50%; */
  /* margin-left: -9rem; */
  /* bottom: 10%; */
  /* user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; */
}

/* .title {
  font-size: 0.8rem;
  color: darkgray;
  position: absolute;
  width: 100%;
  bottom: 2%;
  text-align: center;
}

.title > a {
  color: rgb(79, 189, 249);
} */

/* @media (max-width: 768px) {
  .controlKeys {
    display: none;
  }
  .title {
    display: none;
  }
} */

/* @media (max-height: 450px) {
  .controlKeys {
    display: none;
  }
  .title {
    display: none;
  }
} */


/* Set min-height to avoid page reflow while session loading */
/* .signedInStatus {
  display: block;
  min-height: 4rem;
  width: 100%;
}

.loading,
.loaded {
  position: relative;
  top: 0;
  opacity: 1;
  overflow: hidden;
  border-radius: 0 0 0.6rem 0.6rem;
  padding: 0.6rem 1rem;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in;
}

.loading {
  top: -2rem;
  opacity: 0;
}

.signedInText,
.notSignedInText {
  position: absolute;
  padding-top: 0.8rem;
  left: 1rem;
  right: 6.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;
  z-index: 1;
  line-height: 1.3rem;
}

.signedInText {
  padding-top: 0rem;
  left: 4.6rem;
}

.avatar {
  border-radius: 2rem;
  float: left;
  height: 2.8rem;
  width: 2.8rem;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

.button,
.buttonPrimary {
  float: right;
  margin-right: -0.4rem;
  font-weight: 500;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 0.7rem 0.8rem;
  position: relative;
  z-index: 10;
  background-color: transparent;
  color: #555;
}

.buttonPrimary {
  background-color: #346df1;
  border-color: #346df1;
  color: #fff;
  text-decoration: none;
  padding: 0.7rem 1.4rem;
}

.buttonPrimary:hover {
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.2);
}

.navItems {
  margin-bottom: 2rem;
  padding: 0;
  list-style: none;
}

.navItem {
  display: inline-block;
  margin-right: 1rem;
  background-color: black;
} */


/*
.navItems {
  margin-bottom: 1rem;
  padding: 0;
  list-style: none;
}

.navItem {
  display: inline-block;
  margin-right: 1rem;
} */


/* #datgui { 
  position: absolute; 
  top: 10px; 
  right: 128px 
} */

@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";
/* @import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css"; */

/* reset */
/* button,
fieldset,
input {
	all: unset;
} */

/* reset */
/* button,
fieldset,
input {
	all: unset;
} */

/* */
.DialogOverlay {
	background-color: var(--black-a9);
	position: fixed;
	inset: 0;
	animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
	background-color: white;
	border-radius: 6px;
	box-shadow:
		hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
		hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
	max-width: 450px;
	max-height: 85vh;
	padding: 25px;
	animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
	outline: none;
}

.DialogTitle {
	margin: 0;
	font-weight: 500;
	color: var(--mauve-12);
	font-size: 17px;
}

.DialogDescription {
	margin: 10px 0 20px;
	color: var(--mauve-11);
	font-size: 15px;
	line-height: 1.5;
}

@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: translate(-50%, -48%) scale(0.96);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}


.Button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 0 15px;
	font-size: 15px;
	line-height: 1;
	font-weight: 500;
	height: 35px;
}
.Button.violet {
	/* background-color: white; */
	color: var(--violet-11);
	box-shadow: 0 2px 10px var(--black-a7);
}
.Button.violet:hover {
	background-color: var(--mauve-3);
}
.Button.violet:focus {
	box-shadow: 0 0 0 2px black;
}
.Button.green {
	background-color: var(--green-4);
	color: var(--green-11);
}
.Button.green:hover {
	background-color: var(--green-5);
}
.Button.green:focus {
	box-shadow: 0 0 0 2px var(--green-7);
}

.IconButton {
	font-family: inherit;
	border-radius: 100%;
	border-width: 0;
	height: 25px;
	width: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--violet-11);
	background-color: #131418;
	box-shadow: 0 2px 10px var(--black-a7);
}
.IconButton:hover {
	/* background-color: var(--violet-4); */
	background-color: #131418;
}
.IconButton:focus {
	/* box-shadow: 0 0 0 2px var(--violet-7); */
}
/* .IconButton {
	font-family: inherit;
	border-radius: 100%;
	height: 35px;
	width: 35px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--violet-11);
	background-color: white;
	box-shadow: 0 2px 10px var(--black-a7);
}
.IconButton:hover {
	background-color: var(--violet-3);
}
.IconButton:focus {
	box-shadow: 0 0 0 2px black;
} */



.Fieldset {
	display: flex;
	gap: 20px;
	align-items: center;
	margin-bottom: 15px;
}

.Label {
	font-size: 15px;
	color: var(--violet-11);
	width: 90px;
	text-align: right;
}

.Input {
	width: 100%;
	flex: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 0 10px;
	font-size: 15px;
	line-height: 1;
	color: var(--violet-11);
	box-shadow: 0 0 0 1px var(--violet-7);
	height: 35px;
}
.Input:focus {
	box-shadow: 0 0 0 2px var(--violet-8);
} 

.DropdownMenuContent,
.DropdownMenuSubContent {
	min-width: 220px;
	background-color: black;
	border-radius: 6px;
	padding: 5px;
	box-shadow:
		0px 10px 38px -10px rgba(22, 23, 24, 0.35),
		0px 10px 20px -15px rgba(22, 23, 24, 0.2);
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
}
.DropdownMenuContent[data-side="top"],
.DropdownMenuSubContent[data-side="top"] {
	animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side="right"],
.DropdownMenuSubContent[data-side="right"] {
	animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side="bottom"],
.DropdownMenuSubContent[data-side="bottom"] {
	animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side="left"],
.DropdownMenuSubContent[data-side="left"] {
	animation-name: slideRightAndFade;
}

.DropdownMenuItem,
.DropdownMenuCheckboxItem,
.DropdownMenuRadioItem,
.DropdownMenuSubTrigger {
	font-size: 13px;
	line-height: 1;
  text-decoration: none;
	color: var(--violet-11);
	border-radius: 3px;
	display: flex;
	align-items: center;
	height: 25px;
	padding: 0 5px;
	position: relative;
	padding-left: 25px;
	user-select: none;
	outline: none;
}
.DropdownMenuSubTrigger[data-state="open"] {
	background-color: var(--violet-4);
	color: var(--violet-11);
}
.DropdownMenuItem[data-disabled],
.DropdownMenuCheckboxItem[data-disabled],
.DropdownMenuRadioItem[data-disabled],
.DropdownMenuSubTrigger[data-disabled] {
	color: var(--mauve-8);
	pointer-events: none;
}
.DropdownMenuItem[data-highlighted],
.DropdownMenuCheckboxItem[data-highlighted],
.DropdownMenuRadioItem[data-highlighted],
.DropdownMenuSubTrigger[data-highlighted] {
	background-color: var(--violet-9);
	color: var(--violet-1);
}

.DropdownMenuLabel {
	padding-left: 25px;
	font-size: 12px;
	line-height: 25px;
	color: var(--mauve-11);
}

.DropdownMenuSeparator {
	height: 1px;
	background-color: var(--violet-6);
	margin: 5px;
}

.DropdownMenuItemIndicator {
	position: absolute;
	left: 0;
	width: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.DropdownMenuArrow {
	fill: white;
}

.RightSlot {
	margin-left: auto;
	padding-left: 20px;
	color: var(--mauve-11);
}
[data-highlighted] > .RightSlot {
	color: white;
}
[data-disabled] .RightSlot {
	color: var(--mauve-8);
}

@keyframes slideUpAndFade {
	from {
		opacity: 0;
		transform: translateY(2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRightAndFade {
	from {
		opacity: 0;
		transform: translateX(-2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideDownAndFade {
	from {
		opacity: 0;
		transform: translateY(-2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideLeftAndFade {
	from {
		opacity: 0;
		transform: translateX(2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
