# See https://help.github.com/articles/ignoring-files/

# node
**/node_modules
node_modules
package-lock.json
pnpm-lock.yaml
.pnpm
yarn.lock
.yarn
.pnp.*

# os junk
.DS_Store
desktop.ini

# env
.env
.env.local

# sensitive policy breakers
*.cert
*.crt
*.pem
.npmrc

# output for production
build
dist
dist-ssr
*.local

# next
.next
/.next/
/out/
next-env.d.ts

# assets | static
assets/*
!assets/garage
!assets/libraries
!assets/media
!assets/sfx
assets/threeds/objects

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# editor dirs | files
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# temp | scratchpad | testing
temp*
_drafts

# demo
public/demo/objects/*

# custom
@threed
_sandbox
garage
