# See https://help.github.com/articles/ignoring-files/

# node dependencies, yarn, etc
**/node_modules
node_modules
package-lock.json
pnpm-lock.yaml
.pnpm
yarn.lock
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp
.pnp.js
.pnp.*
.eslintcache

# os junk
__MACOSX
.DS_Store
desktop.ini
Thumbs.db

# env
.env
.env.local

# sensitive policy breakers
*.cert
*.crt
*.pem
.npmrc

# output for production
build
dist
dist-ssr
*.local

# next
.next
/.next/
/out/
next-env.d.ts
**/.vercel/**/*
**/.next/**/*
**/out/**/*

# assets | static
assets/*
!assets/garage
!assets/libraries
!assets/media
!assets/sfx
assets/threeds/objects

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# editor dirs | files
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.netlify

# testing
coverage

# temp | scratchpad | testing
temp*
_drafts

# vscode
*.code-workspace

# custom
@threed
_sandbox
garage
packages/*.zip
packages/threed-garden
# !packages/app-playground-main
!packages/next13-app-ts
packages/platforms-main

# demo
packages/threed-garden/public/demo/objects/*

# scaffold-eth
*.tsbuildinfo
*.stackdump
.yalc
yalc.lock
packages/vite-app-ts/dist
# packages/**/data
build
dist
**/generated/**/*

# solidity
packages/solidity-ts/cache
packages/solidity-ts/generated
packages/common/src/generated
cache
artifacts
tenderly.yaml

# secrets / env
**/.env.*.local
**/*.secret
**/aws.json
!packages/solidity-ts/mnemonics/README.md
**/mnemonics/*.secret
**/mnemonics/*.txt

#subgraph
packages/subgraph/config/config.json
packages/subgraph/subgraph.yaml
packages/subgraph/generated
packages/subgraph/abis/*
