/* WordPress original styles copied. */
.ethpress-button,
.ethpress-button-secondary {
	display:inline-block;
	text-decoration:none;
	font-size:13px;
	line-height:26px;
	height:28px;
	margin:0;
	padding:0 10px 1px;
	cursor:pointer;
	border-width:1px;
	border-style:solid;
	-webkit-appearance:none;
	border-radius:3px;
	white-space:nowrap;
	box-sizing:border-box
}
.ethpress-button::-moz-focus-inner
.ethpress-button::focus-inner {
	border-width:0;
	border-style:none;
	padding:0
}
.ethpress-button.ethpress-button-large {
	height:30px;
	line-height:28px;
	padding:0 12px 2px
}
.ethpress-button:active,
.ethpress-button:focus {
	outline:2px solid transparent;
	outline-offset:0
}
.ethpress-button,
.ethpress-button-secondary {
	color:#555;
	border-color:#ccc;
	background:#f7f7f7;
	box-shadow:0 1px 0 #ccc;
	vertical-align:top
}
.ethpress-button {
	vertical-align:baseline
}
.ethpress-button-secondary:focus,
.ethpress-button-secondary:hover,
.ethpress-button:focus,
.ethpress-button:hover {
	background:#fafafa;
	border-color:#999;
	color:#23282d
}
.ethpress-button-secondary:focus,
.ethpress-button:focus {
	border-color:#5b9dd9;
	box-shadow:0 0 3px rgba(0,115,170,.8)
}
.ethpress-button-secondary:active,
.ethpress-button:active {
	background:#eee;
	border-color:#999;
	box-shadow:inset 0 2px 5px -3px rgba(0,0,0,.5);
	transform:translateY(1px)
}
.ethpress-button-secondary:disabled,
.ethpress-button-secondary[disabled],
.ethpress-button:disabled,
.ethpress-button[disabled] {
	color:#a0a5aa!important;
	border-color:#ddd!important;
	background:#f7f7f7!important;
	box-shadow:none!important;
	text-shadow:0 1px 0 #fff!important;
	cursor:default;
	transform:none!important
}
.ethpress-trustwallet-deeplink {
	padding: 1.1rem 0;
	font-size: 14px;
}
@media screen and (max-width:782px) {
	.ethpress-button,
	.ethpress-button.ethpress-button-large {
		padding:6px 14px;
		line-height:normal;
		font-size:14px;
		vertical-align:middle;
		height:auto;
		margin-bottom:4px
	}
}
.walletconnect-modal__base {
	padding: 25px;
	box-sizing: border-box;
	max-height: 100%;
	overflow: auto;
}
#walletconnect-qrcode-close {
	background-color: whitesmoke;
	cursor: pointer;
}
