#ThreeDAppProvider {
  font-family: sans-serif;
  /* text-align: center; */
  height: 100vh;
  width: 100vw;
}

body {
  padding: 4px 0;
  margin: 0;
}

/* OVERRIDES !important */

.MuiCardHeader-title {
  line-height: 0.7 !important;
}



/* JOYSTICK */
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  position: fixed;
  overflow: hidden;
}

.controlKeys {
  position: absolute;
  width: 18rem;
  left: 50%;
  margin-left: -9rem;
  bottom: 10%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.title {
  font-size: 0.8rem;
  color: darkgray;
  position: absolute;
  width: 100%;
  bottom: 2%;
  text-align: center;
}

.title > a {
  color: rgb(79, 189, 249);
}

@media (max-width: 768px) {
  .controlKeys {
    display: none;
  }
  .title {
    display: none;
  }
}

@media (max-height: 450px) {
  .controlKeys {
    display: none;
  }
  .title {
    display: none;
  }
}
