/* body */
#DEMO {
  /* margin: 0px; */
  /* padding: 0px; */
  /* width: 100%; */
  /* width: 1600px; */
  /* overflow: hidden; */
  /* background-color: #888888; */
}

/* width */
/* #DEMO ::-webkit-scrollbar {
  width: 10px;
} */

/* track */
/* #DEMO ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* handle */
/* #DEMO ::-webkit-scrollbar-thumb {
  background: #888;
} */

/* handle on hover */
/* #DEMO ::-webkit-scrollbar-thumb:hover {
  background: #787878;
} */

/* Begin */

#DEMO #toolBar {
  position: relative; /* absolute */
  /* top: 0px; */
  /* left: 0px; */
  /* right: 0px; */
  /* height: 48px; */
  background-color: #131418; /* 131418 | original 424346 */
}

#DEMO #catalogFilters {
  position: relative; /* fixed */
  /* top: 54px; */
  /* left: 0px; */
  /* width: 100%; */
  height: 16px;
  background-color: #09090D; /* 131418 | original 424346 */
}

#DEMO #catalogTextFilter {
  font-size: 16px;
  margin-top: 4px;
  margin-left: 4px;
  padding-top: 2px;
  padding-left: 4px;
  width: 288px;
  color: white;
  /* font-family: 'Courier New', Courier, monospace; */
  border: 1px solid #2a2a2a;
  background-color: #09090D; /* 131418 | original 424346 */
}

#DEMO #catalogItems {
  position: relative; /* absolute */
  top: 32px;
  /* bottom: 0px; */
  overflow-y: auto;
  overflow-x: hidden;
  cursor: default;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: #131418;
}

#DEMO #catalogView {
  position: relative; /* absolute */
  background-color: #09090D; /* 131418 | original 424346 */
}

#DEMO #propertiesView {
  position: relative; /* absolute */
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #131418;
  color: white;
  font-size: 14px;
  display: none;
}

#DEMO #propertiesView input {
  font-size: 14px;
  color: white;
  /* font-family: 'Courier New', Courier, monospace; */
  background-color: #09090D; /* 131418 | original 424346 */
  padding: 2px 4px 2px 4px;
}

#DEMO #propertiesView a {
  color: white;
}

#DEMO #planView {
  position: absolute; /* absolute */
  background-color: white;
  bottom: 100px; /* */
  left: 100px; /* */
}

#DEMO #planCanvas {
  top: 0px;
  bottom: 50px;
  left: 32px;
  right: 0px;
  background-color: #131418;
}

#DEMO #rulerLeft {
  position: relative; /* absolute */
  background-color: #131418; /* 131418 | original 636363 */
}

#DEMO #rulerBottom {
  position: relative; /* absolute */
  background-color: #131418; /* 131418 | original 636363 */
}

#DEMO #view3d {
  position: relative; /* absolute */
  cursor: default;
}

#DEMO #model3dView {
  width: 1024px;
  height: 520px;
  margin-left: -16px;
  position: relative;
}

#DEMO #modalModelDescription {
  position: absolute;
  top: 80px;
  left: 16px;
  width: 350px;
  height: 400px;
}

#DEMO #modalModel3dObjHeader {
  width: 390px;
  height: 300px;
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 12px;
  overflow: auto;
  color: white;
  background-color: #424346;
}

#DEMO #modalLoadingDataInfo {
  width: 760px;
  height: 180px;
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 12px;
  overflow: auto;
  color: white;
  background-color: #424346;
}

#DEMO #verticalSlider {
  position: absolute;
  background-color: #2a2a2a;
  cursor: ew-resize;
}

#DEMO #horizontalSliderLeft {
  position: absolute;
  background-color: #2a2a2a;
  cursor: ns-resize;
}

#DEMO #horizontalSliderRight {
  position: absolute;
  background-color: #2a2a2a;
  cursor: ns-resize;
}

#DEMO #furnitureDragDiv {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  display: none;
  opacity: 0.33;
}

#DEMO .disableSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}

#DEMO #mouseIndicatorX {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.5);
  text-align: center;
  display: none;
  pointer-events: none;
  z-index: 98;
}

#DEMO #mouseIndicatorY {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.5);
  text-align: center;
  display: none;
  pointer-events: none;
  z-index: 98;
}

#DEMO #compass {
  position: absolute;
  right: 70px;
  top: 840px;
  opacity: 0.1;
  pointer-events: none;
  transform-origin: bottom center;
}

#DEMO #compass:after {
  content: url('/demo/media/compass_140.png');
  position: absolute;
  margin-top: -70px;
  margin-left: -21px;
  pointer-events: none;
}

#DEMO #toolBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #131418; /* 131418 | original 424346 */
}

#DEMO #toolBar li {
  float: left;
}

#DEMO li a, #DEMO .dropbtn {
  display: inline-block;
  color: white;
  text-align: left;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.5s;
  cursor: pointer;
}

#DEMO .toolButton {
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  margin: 0px;
  transition: 0.5s;
}

#DEMO .activeTool {
  background-color: #424346; /* 131418 | original 787878 */
}

#DEMO li a:hover, #DEMO .dropdown:hover .dropbtn {
  background-color: #424346; /* 131418 | original 787878 */
}

#DEMO li a:focus,
.dropdown:hover .dropbtn {
  background-color: #bbbbbb;
}

#DEMO li.dropdown {
  display: inline-block;
}

#DEMO .dropdown-content {
  display: none;
  position: absolute;
  background-color: #424346;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

#DEMO .dropdown-content a {
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#DEMO .dropdown-content a:hover {
  background-color: #787878;
}

#DEMO .dropdown:hover .dropdown-content {
  display: block;
}

#DEMO .furnitureItem {
  width: 88px;
  height: 88px;
  border: 1px solid #2a2a2a;
  float: left;
  margin: 4px;
  background-color: #424346;
  text-align: center;
}

#DEMO .furnitureItem:hover {
  background-color: #787878;
  cursor: pointer;
}

#DEMO .furnitureName {
  font-size: 12px;
  color: #131418;
}

#DEMO .furnitureThumb {
  height: 70px;
  pointer-events: none;
  margin-top: 8px;
}

#DEMO .modal {
  display: none; /* none | block */
  position: fixed;
  z-index: 1;
  left: 200px;
  top: 200px;
  width: 77%;
  height: 77%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#DEMO .close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: 100;
  letter-spacing: 1em;
}

#DEMO .close:hover, .close:focus {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

#DEMO .modal-header {
  padding: 2px 16px;
  background-color: #424346;
  color: white;
}

#DEMO .modal-body {
  padding: 2px 16px;
  height: 512px;
  color: white;
}

#DEMO .modal-body a {
  color: white;
}

#DEMO .modal-footer {
  padding: 2px 16px;
  font-weight: 100;
  font-size: 14px;
  background-color: #424346;
  color: #8e8e8e;
}

#DEMO .modal-footer a {
  color: #8e8e8e;
}

#DEMO .modal-content {
  position: relative;
  background-color: #131418;
  margin: auto;
  padding: 0;
  border: 1px solid #8e8e8e;
  top: 15%;
  width: 1024px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#DEMO .smallModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#DEMO .smallModal-header {
  padding: 2px 16px;
  background-color: #424346;
  color: white;
}

#DEMO .smallModal-body {
  padding: 2px 16px;
  height: 266px;
  color: white;
}

#DEMO .smallModal-body a {
  color: white;
}

#DEMO .smallModal-footer {
  font-size: 14px;
  font-weight: 100;
  padding: 2px 16px;
  background-color: #424346;
  color: #bebebe;
}

#DEMO .smallModal-footer a {
  color: #bebebe;
}

#DEMO .smallModal-content {
  position: relative;
  background-color: #131418;
  margin: auto;
  padding: 0;
  border: 1px solid #8e8e8e;
  top: 25%;
  width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Add Animation */

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 15%;
    opacity: 1
  }
}

#DEMO #progressBar {
  width: 300px;
  height: 16px;
  position: relative;
  left: 50%;
  /* top: 60px; */
  margin-left: -150px;
}

#DEMO .brand a {
  font-weight: 100;
  font-size: 16px;
  padding: 0px;
}

#DEMO li .brandImg a {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}

#DEMO li .brandImg img {
  margin: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#DEMO .propertiesTable table {
  border-collapse: collapse;
  width: 100%;
}

#DEMO .propertiesTable th, .propertiesTable td {
  padding: 4px 0px 4px 0px;
  text-align: left;
  border-bottom: 1px solid #2a2a2a;
}

#DEMO #fullscreenPlanViewBtn {
  position: absolute;
  cursor: pointer;
}

#DEMO #fullscreen3dViewBtn {
  position: absolute;
  cursor: pointer;
}

#DEMO a[target="_blank"]:after {
  content: url("/media/externallink.png");
}

#DEMO .moreInfoBtn {
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 17px;
  cursor: pointer;
  padding: 4px 16px 4px 16px;
  border: 1px solid #2a2a2a;
  color: white;
  background-color: #424346;
}

#DEMO #model3dLargeThumb {
  width: 144px;
  height: 144px;
  pointer-events: none;
}

#DEMO .tab {
  overflow: hidden;
  border: 1px solid #2a2a2a;
  background-color: #424346;
  margin-top: 10px;
}

/* Style the buttons that are used to open the tab content */

#DEMO .tab button {
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 17px;
  color: white;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  transition: 0.15s;
}

/* Change background color of buttons on hover */

#DEMO .tab button:hover {
  background-color: #787878;
}

/* Create an active/current tablink class */

#DEMO .tab button.active {
  background-color: #787878;
}

/* Style the tab content */

#DEMO .tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #2a2a2a;
  border-top: none;
  height: 400px;
  overflow-y: auto;
}

#DEMO .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid 2a2a2a;
}

#DEMO .tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: #424346;
  color: #fff;
  text-align: left;
  padding: 6px 12px;
  position: absolute;
  z-index: 1;
}

#DEMO .tooltip:hover .tooltiptext {
  visibility: visible;
}

#DEMO #localStoragePlanDiv {
  display: none;
  background-color: #131418;
}

#DEMO #localStoragePlanImage {
  border: 2px solid #2a2a2a;
  background-color: #2a2a2a;
  cursor: pointer;
}

#DEMO #localStoragePlanImage:hover {
  background-color: #131418;
}

#DEMO #loadLocalStoragePlanBtn {
  margin-top: 10px;
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 19px;
  cursor: pointer;
  border: 1px solid #2a2a2a;
  color: white;
  padding: 12px 24px;
  background-color: #424346;
}

#DEMO #loadLocalStoragePlanBtn:hover {
  background-color: #787878;
}

#DEMO #featuredPlanImage {
  border: 2px solid #2a2a2a;
  background-color: #2a2a2a;
  cursor: pointer;
}

#DEMO #featuredPlanImage:hover {
  background-color: #131418;
}

#DEMO hr {
  border: 1px solid #2a2a2a;
}

#DEMO #localStoragePlanLastSavedDate {
  font-size: 12px;
  color: #bebebe;
  /* font-family: 'Courier New', Courier, monospace; */
}

#DEMO .largeButton {
  margin-top: 10px;
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 19px;
  cursor: pointer;
  border: 1px solid #2a2a2a;
  color: white;
  padding: 12px 24px;
  background-color: #424346;
  text-decoration: none;
}

#DEMO .largeButton:hover {
  background-color: #787878;
}

#DEMO .smallButton {
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #2a2a2a;
  color: white;
  padding: 1px 12px 1px 12px;
  background-color: #424346;
  text-decoration: none;
}

#DEMO .smallButton:hover {
  background-color: #787878;
}

#DEMO .mediumButton {
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 17px;
  cursor: pointer;
  border: 1px solid #2a2a2a;
  color: white;
  padding: 4px 24px 4px 24px;
  background-color: #424346;
}

#DEMO .mediumButton:hover {
  background-color: #787878;
}

#DEMO .levelBtn {
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 14px;
  position: absolute;
  left: 0px;
  cursor: pointer;
  width: 100px;
  height: 20px;
  border: 1px solid #2a2a2a;
  display: none;
  color: white;
  background-color: #424346;
}

#DEMO input[type='checkbox'] {
  background-color: #2a2a2a;
  margin: 6px 3px 3px 3px;
}

#DEMO .propertiesViewBtn {
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid #2a2a2a;
  color: white;
  padding: 12px 24px;
  background-color: #424346;
}
#DEMO .propertiesViewBtn:hover {
  background-color: #787878;
}

#DEMO #overlayLogoPlanView {
  display: none;
}

#DEMO #overlayLogo3dView {
  display: none;
}

#DEMO .overlayLogo {
  display: none; /* block */
  position: absolute;
  top: 50px;
  left: 40px;
}

#DEMO .overlayLogo a {
  color: white;
}

#DEMO .overlayLogo img {
  margin-top: -20px;
}

#DEMO #overlayMenu3dView {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#DEMO #overlayMenuPlanView {
  display: none;
  position: absolute;
  bottom: 32px;
  left: 40px;
}
