body {
    margin: 0px;
    padding: 0px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: Helvetica, sans-serif;
    font-weight: 10;
    letter-spacing: 1px;
    overflow: hidden;
    background-color: #888888;
}

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #787878;
}

#toolBar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
    background-color: #131418;
}

#catalogFilters {
    position: fixed;
    top: 54px;
    left: 0px;
    width: 100%;
    height: 30px;
    background-color: #09090D
}

#catalogTextFilter {
    font-size: 17px;
    margin-top: 4px;
    margin-left: 4px;
    width: 284px;
    color: white;
    /* font-family: 'Courier New', Courier, monospace; */
    border: 1px solid #2a2a2a;
    background-color: #131418;
}

#catalogItems {
    position: absolute;
    top: 32px;
    bottom: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: default;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: #09090D;
}

#catalogView {
    position: absolute;
    background-color: #131418;
}

#propertiesView {
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #09090D;
    color: white;
    font-size: 14px;
    display: none;
}

#propertiesView input {
    font-size: 17px;
    color: white;
    /* font-family: 'Courier New', Courier, monospace; */
    background-color: #131418;
    padding: 2px 4px 2px 4px;
}

#propertiesView a {
    color: white;
}

#planView {
    position: absolute;
    background-color: white;
}

#planCanvas {
    top: 0px;
    bottom: 50px;
    left: 30px;
    right: 0px;
    background-color: #09090D;
}

#rulerLeft {
    position: absolute;
    background-color: #636363;
}

#rulerBottom {
    position: absolute;
    background-color: #636363;
}

#view3d {
    position: absolute;
    cursor: default;
}

#model3dView {
    width: 1024px;
    height: 520px;
    margin-left: -16px;
    position: relative;
}

#modalModelDescription {
    position: absolute;
    top: 80px;
    left: 16px;
    width: 350px;
    height: 400px;
}

#modalModel3dObjHeader {
    width: 390px;
    height: 300px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 12px;
    overflow: auto;
    color: white;
    background-color: #131418;
}

#modalLoadingDataInfo {
    width: 760px;
    height: 180px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 12px;
    overflow: auto;
    color: white;
    background-color: #131418;
}

#verticalSlider {
    position: absolute;
    background-color: #2a2a2a;
    cursor: ew-resize;
}

#horizontalSliderLeft {
    position: absolute;
    background-color: #2a2a2a;
    cursor: ns-resize;
}

#horizontalSliderRight {
    position: absolute;
    background-color: #2a2a2a;
    cursor: ns-resize;
}

#furnitureDragDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    display: none;
    opacity: 0.33;
}

.disableSelection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}

#mouseIndicatorX {
    position: absolute;
    background-color: rgba(128, 128, 128, .5);
    text-align: center;
    display: none;
    pointer-events: none;
    z-index: 98;
}

#mouseIndicatorY {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.5);
    text-align: center;
    display: none;
    pointer-events: none;
    z-index: 98;
}

#compass {
    position: absolute;
    right: 70px;
    top: 140px;
    opacity: 0.5;
    pointer-events: none;
    transform-origin: bottom center;
}

#compass:after {
    content: url('/media/compass_140.png');
    position: absolute;
    margin-top: -70px;
    margin-left: -21px;
    pointer-events: none;
}

#toolBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #131418;
}

#toolBar li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    text-decoration: none;
    font-size: 19px;
    transition: 0.15s;
    cursor: pointer;
}

.toolButton {
    padding-top: 4px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 2px;
    margin: 0px;
    transition: 0.15s;
}

.activeTool {
    background-color: #787878;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #787878;
}

/* li a:focus,
.dropdown:hover .dropbtn {
    background-color: #bbbbbb;
} */

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #131418;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.dropdown-content a {
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #787878;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.furnitureItem {
    width: 88px;
    height: 88px;
    border: 1px solid #2a2a2a;
    float: left;
    margin: 4px;
    background-color: #131418;
    text-align: center;
}

.furnitureItem:hover {
    background-color: #787878;
    cursor: pointer;
}

.furnitureName {
    font-size: 12px;
    color: #09090D;
}

.furnitureThumb {
    height: 70px;
    pointer-events: none;
    margin-top: 8px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: 100;
    letter-spacing: 1em;
}

.close:hover, .close:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #131418;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    height: 512px;
    color: white;
}

.modal-body a {
    color: white;
}

.modal-footer {
    padding: 2px 16px;
    font-weight: 100;
    font-size: 14px;
    background-color: #131418;
    color: #333333;
}

.modal-footer a {
    color: #333333;
}

.modal-content {
    position: relative;
    background-color: #09090D;
    margin: auto;
    padding: 0;
    border: 1px solid #333333;
    top: 15%;
    width: 1024px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.smallModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.smallModal-header {
    padding: 2px 16px;
    background-color: #131418;
    color: white;
}

.smallModal-body {
    padding: 2px 16px;
    height: 266px;
    color: white;
}

.smallModal-body a {
    color: white;
}

.smallModal-footer {
    font-size: 14px;
    font-weight: 100;
    padding: 2px 16px;
    background-color: #131418;
    color: #bebebe;
}

.smallModal-footer a {
    color: #bebebe;
}

.smallModal-content {
    position: relative;
    background-color: #09090D;
    margin: auto;
    padding: 0;
    border: 1px solid #333333;
    top: 25%;
    width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Add Animation */

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 15%;
        opacity: 1
    }
}

.center {
    width: 300px;
    height: 12px;
    position: absolute;
    left: 50%;
    top: 60px;
    margin-left: -150px;
}

.brand a {
    font-weight: 100;
    font-size: 21px;
    padding: 0px;
}

li .brandImg a {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}

li .brandImg img {
    margin: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.propertiesTable table {
    border-collapse: collapse;
    width: 100%;
}

.propertiesTable th, td {
    padding: 4px 0px 4px 0px;
    text-align: left;
    border-bottom: 1px solid #2a2a2a;
}

#fullscreenPlanViewBtn {
    position: absolute;
    cursor: pointer;
}

#fullscreen3dViewBtn {
    position: absolute;
    cursor: pointer;
}

a[target="_blank"]:after {
    content: url("/media/externallink.png");
}

.moreInfoBtn {
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 17px;
    cursor: pointer;
    padding: 4px 16px 4px 16px;
    border: 1px solid #2a2a2a;
    color: white;
    background-color: #131418;
}

#model3dLargeThumb {
    width: 144px;
    height: 144px;
    pointer-events: none;
}

.tab {
    overflow: hidden;
    border: 1px solid #2a2a2a;
    background-color: #131418;
    margin-top: 10px;
}

/* Style the buttons that are used to open the tab content */

.tab button {
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 17px;
    color: white;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    transition: 0.15s;
}

/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #787878;
}

/* Create an active/current tablink class */

.tab button.active {
    background-color: #787878;
}

/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #2a2a2a;
    border-top: none;
    height: 400px;
    overflow-y: auto;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid 2a2a2a;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: #131418;
    color: #fff;
    text-align: left;
    padding: 6px 12px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#localStoragePlanDiv {
    display: none;
    background-color: #09090D;
}

#localStoragePlanImage {
    border: 2px solid #2a2a2a;
    background-color: #2a2a2a;
    cursor: pointer;
}

#localStoragePlanImage:hover {
    background-color: #09090D;
}

#loadLocalStoragePlanBtn {
    margin-top: 10px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 19px;
    cursor: pointer;
    border: 1px solid #2a2a2a;
    color: white;
    padding: 12px 24px;
    background-color: #131418;
}

#loadLocalStoragePlanBtn:hover {
    background-color: #787878;
}

#featuredPlanImage {
    border: 2px solid #2a2a2a;
    background-color: #2a2a2a;
    cursor: pointer;
}

#featuredPlanImage:hover {
    background-color: #09090D;
}

hr {
    border: 1px solid #2a2a2a;
}

#localStoragePlanLastSavedDate {
    font-size: 12px;
    color: #bebebe;
    /* font-family: 'Courier New', Courier, monospace; */
}

.largeButton {
    margin-top: 10px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 19px;
    cursor: pointer;
    border: 1px solid #2a2a2a;
    color: white;
    padding: 12px 24px;
    background-color: #131418;
    text-decoration: none;
}

.largeButton:hover {
    background-color: #787878;
}

.smallButton {
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #2a2a2a;
    color: white;
    padding: 1px 12px 1px 12px;
    background-color: #131418;
    text-decoration: none;
}

.smallButton:hover {
    background-color: #787878;
}

.mediumButton {
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 17px;
    cursor: pointer;
    border: 1px solid #2a2a2a;
    color: white;
    padding: 4px 24px 4px 24px;
    background-color: #131418;
}

.mediumButton:hover {
    background-color: #787878;
}

.levelBtn {
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 14px;
    position: absolute;
    left: 0px;
    cursor: pointer;
    width: 100px;
    height: 20px;
    border: 1px solid #2a2a2a;
    display: none;
    color: white;
    background-color: #131418;
}

/* input[type='checkbox'] {
    background-color: #2a2a2a;
    margin: 6px 3px 3px 3px;
 } */

/* .propertiesViewBtn {
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    cursor: pointer;
    border: 1px solid #2a2a2a;
    color: white;
    padding: 12px 24px;
    background-color: #131418;
}
.propertiesViewBtn:hover{
    background-color: #787878;
} */

#overlayLogoPlanView {
    display: none;
}

#overlayLogo3dView {
    display: none;
}

.overlayLogo {
    display: block;
    position: absolute;
    top: 50px;
    left: 40px;
}

.overlayLogo a {
    color: white;
}

.overlayLogo img {
    margin-top: -20px;
}

#overlayMenu3dView {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#overlayMenuPlanView {
    display: none;
    position: absolute;
    bottom: 30px;
    left: 40px;
}

