/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 /* ThreeDGarden - Custom Admin Styles */

/** THREE D GARDEN */
.planting_plan_bed_plant_schedule { background-color: #999999; }
.planting_plan_bed   { background-color: #330000; }
.planting_plan_plant { background-color: #003300; }

/** DAT.GUI */
#gui { position: absolute; right: 5px; }
#gui dd, #gui li { margin-bottom: 0; }


/** ANNOTATIONS */
.annotation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    margin-left: 15px;
    margin-top: 15px;
    padding: 1em;
    width: 200px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border-radius: .5em;
    font-size: 12px;
    line-height: 1.2;
    transition: opacity .5s;
    /* &::before {
        content: '1';
        position: absolute;
        top: -30px;
        left: -30px;
        width: 30px;
        height: 30px;
        border: 2px solid #fff;
        border-radius: 50%;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        background: rgba(0, 0, 0, 0.8);
    } */
}

.dismiss {
    cursor: pointer;
    margin-left: 5px;
}